.nav-bar {
    background-color: aquamarine;
    text-align: center;
}


body {
    background-color: rgb(178, 178, 178);
}

header {
    background-color: green;
}


.homepage-options {
    background-color: aliceblue;
}